@model IEnumerable<CRUD1.Models.ModelProveedor>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Proveedores
    </div>

    <div class="card-body"></div>
    <a asp-action="Crear" asp-controller="Proveedor" class="btn btn-success">Crear Nuevo</a>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID </th>
                <th scope="col">Nombre Proveedor</th>
                <th scope="col">Direccion</th>
                <th scope="col">Cuit</th>
                <th scope="col">Categoria</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                            @item.proveedorID
                    </td>
                    <td>
                            @item.nombre_prov
                    </td>
                    <td>
                            @item.direccion
                    </td>
                    <td>
                            @item.cuit
                    </td>
                    <td>
                            @item.categoria
                    </td>
                    <td>
                        <a asp-action="Editar" asp-controller="Proveedor" class="btn btn-success" asp-route-id="@item.proveedorID">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Proveedor" class="btn btn-danger" asp-route-id="@item.proveedorID">Eliminar</a>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</div>
