@model IEnumerable<CRUD1.Models.ModelEmpleados>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        Empleados
    </div>

    <div class="card-body"></div>
    <a asp-action="Crear" asp-controller="Empleados" class="btn btn-success">Crear Nuevo</a>
    <hr />
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID </th>
                <th scope="col">Nombre Empleado</th>
                <th scope="col">Apellido Empleado</th>
                <th scope="col">Rol/Area</th>
                <th scope="col">ID Usuario</th>
                <th scope="col">Accion</th>
            </tr>
        </thead>
        <tbody>
        <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                            @item.empleadosID
                    </td>
                    <td>
                            @item.nombre_emp
                    </td>
                    <td>
                            @item.apellido_emp
                    </td>
                    <td>
                            @item.rol_area
                    </td>
                    <td>
                            @item.id_usuario
                    </td>        
                    <td>
                        <a asp-action="Editar" asp-controller="Empleados" class="btn btn-success" asp-route-id="@item.empleadosID">Editar</a>
                        <a asp-action="Eliminar" asp-controller="Empleados" class="btn btn-danger" asp-route-id="@item.empleadosID">Eliminar</a>
                    </td>
                </tr>
                }
        </tbody>
    </table>
</div>
